# SPDX-FileCopyrightText: 2022 - 2023 Alliander N.V.
#
# SPDX-License-Identifier: Apache-2.0

/target
/classes
/checkouts
/docs/output
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/
/.clj-kondo
/.lsp
/.calva
resources
*.swp
.idea
