{{!--
SPDX-FileCopyrightText: 2023 Bart Kleijngeld

SPDX-License-Identifier: Apache-2.0
--}}

<footer class="footer">
  <p>Copyright 2023 - Bart Kleijngeld</p>
  <p>Licensed under <a href="https://www.apache.org/licenses/LICENSE-2.0.txt">Apache 2.0</a></p>
</footer>

